
.color__checkbox label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    margin-right: 15px;
    margin-bottom: 20px;
}

.color__checkbox {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 columns */
    gap: 10px; /* Adjust gap between items if needed */
}

.color__checkbox label input:checked ~ .checkmark {
    transform: scale(1.4); /* Increase the size when checked */
    transition: transform 0.3s ease; /* Smooth transition */
}

.color__checkbox label:last-child {
    margin-right: 0;
}

.color__checkbox label input {
    position: absolute;
    visibility: hidden;
}

.color__checkbox label input:checked ~ .checkmark:after {
    border-color: #ede8e8;
    opacity: 1;
}

.color__checkbox label .checkmark {
    position: absolute;
    left: 0;
    top: -10px;
    height: 20px;
    width: 20px;
    background: #e31e2f; /* Default color */
    border-radius: 50%;
    content: "";
}

.color__checkbox label .checkmark:after {
    position: absolute;
    left: 3px;
    top: 5px;
    width: 13px;
    height: 6px;
    border: solid #ffffff;
    border-width: 1.5px 1.5px 0px 0px;
    transform: rotate(127deg);
    opacity: 0;
    content: "";
}

.color__checkbox label .checkmark.red-bg {
    background: #D9304F;
    border: 1px solid #272525;

}

.color__checkbox label .checkmark.black-bg {
    background: #1D1926;
    border: 1px solid #272525;
}

.color__checkbox label .checkmark.white-bg {
    background: #f1eeee;
    border: 1px solid #272525;
}

.color__checkbox label .checkmark.blue-bg {
    background: #171695;
    border: 1px solid #272525;

}

.color__checkbox label .checkmark.green-bg {
    background: #07F26D;
    border: 1px solid #272525;

}

.color__checkbox label .checkmark.violet-bg {
    background: #B562D9;
    border: 1px solid #272525;

}

.color__checkbox label .checkmark.yellow-bg {
    background: #F2CB05;
    border: 1px solid #272525;

}

.color__checkbox label .checkmark.orange-bg {
    background: #F2622E;
    border: 1px solid #272525;

}

.color__checkbox label .checkmark.brown-bg {
    background: #8C6645;
    border: 1px solid #272525;

}

.color__checkbox label .checkmark.pink-bg {
    background: #FFC0CB; /* Light Pink */
    border: 1px solid #272525;

}

.color__checkbox label .checkmark.grey-bg {
    background: #A9A9A9; /* Dark Grey */
    border: 1px solid #272525;

}

.color__checkbox label .checkmark.navy-bg {
    background: #001F3F; /* Navy Blue */
    border: 1px solid #272525;

}

.color__checkbox label .checkmark.mint-bg {
    background: #98FF98; /* Mint Green */
    border: 1px solid #272525;

}
.color__checkbox label .checkmark.sand-bg {
    background: #FADFA1; /* Mint Green */
    border: 1px solid #272525;

}

.filter-btn {
     padding: 5px 10px; /* Smaller padding */
     font-size: 12px; /* Smaller font */
     border-radius: 2px; /* Sharper corners */
     border: 1px solid #ca1515; /* A more defined border */
     width: auto; /* Adjust width to fit content */
     display: inline-block;
 }


/*PAGGINATION*/
/* General pagination style */

.pagination-wrapper {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.pagination .page-item .page-link {
    background-color: #ffffff; /* White background */
    color: #333; /* Dark text */
    border-radius: 50%; /* Circular pagination buttons */
    border: 1px solid #ddd; /* Light gray border */
    width: 35px;
    height: 35px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 2px;
}

.pagination .page-item .page-link:hover {
    background-color: #f8f9fa; /* Slightly lighter background on hover */
    color: #111111; /* Change color to blue on hover */
    border-color: #111111; /* Blue border on hover */
}

.pagination .page-item.active .page-link {
    background-color: #111111; /* Active button background */
    color: white; /* White text for active page */
    border-color: #111111; /* Blue border for active page */
}

